


.actions{
  display: flex;
  justify-content: space-around
  
}

.button{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: rgb(0,106,255);
}

  
.createCase{
  position: relative;
  display: flex;
  /* align-content:  */
  color: black;
  font-size: 16px;
  display: flex;
  height: 400px;
}



.toDo{
  width: 50%;
  margin: 10px;
}

.tasks{
  margin: 30px;
}

.comments,.date {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px 
}
